services:


 

  client-service:
    build:
      context: ./../client-service
      dockerfile: ./../client-service/client-service.dockerfile
    restart: always

    deploy:
      mode: replicated
      replicas: 1
    environment:
      DSN: "host=postgres port=5432 user=postgres password=postgres dbname=ai_agent sslmode=disable timezone=UTC connect_timeout=5"
    depends_on:
      - embedding-service

  postgres:
    image: ramsrib/pgvector:14
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ai_agent
    logging:
      options:
        max-size: 10m
        max-file: "3"
    ports:
      - '5432:5432'
    volumes:
      - ./db-data/postgres/:/var/lib/postgresql/data/
      - ./db-init:/docker-entrypoint-initdb.d/
 
  embedding-service:
    build:
      context: ./../embedding-service     # <-- folder containing app.py + Dockerfile
      dockerfile:  ./../embedding-service/embedding-service.dockerfile           # <-- name of the Dockerfile you created
    restart: always
    deploy:
      mode: replicated
      replicas: 1
    ports:
      - "8000:8000"
    environment:
      MODEL_NAME: "all-MiniLM-L6-v2"   # optional, if you want env config later
    depends_on:
      - postgres
