

services:

  rag-service:
    build:
      context: ./../rag-service
      dockerfile: ./../rag-service/rag-service.dockerfile
    restart: always
    ports:
      - "4000:4000"
    deploy:
      mode: replicated
      replicas: 1
    environment:
      DSN: "host=postgres port=5432 user=postgres password=postgres dbname=ai_agent sslmode=disable timezone=UTC connect_timeout=5"
    depends_on:
      - weaviate

  ollama-service:
    image: ollama/ollama:latest
    restart: always
    ports:
      - "11434:11434"
    environment:
      OLLAMA_API_KEY: ""
    volumes:
      - ./ollama-data:/ollama-data



  weaviate:
    image: semitechnologies/weaviate:1.19.0
    container_name: weaviate
    hostname: weaviate
    ports:
      - "8080:8080"

    environment:
      QUERY_DEFAULTS_LIMIT: 20
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: "true"
      PERSISTENCE_DATA_PATH: "/var/lib/weaviate"

      DEFAULT_VECTORIZER_MODULE: "text2vec-openai"
      ENABLE_MODULES: "text2vec-openai"
      OPENAI_EMBEDDING_MODEL: "text-embedding-3-small"
      OPENAI_APIKEY: "{OPENAI_APIKEY}"
      UUID_ALLOW_NON_UUID: "true"
      CLUSTER_HOSTNAME: "weaviate"
      CLUSTER_JOIN: ""
 
    volumes:
      - ./weaviate_data:/var/lib/weaviate
