services:
  client-service:
    build:
      context: ./../client-service
      dockerfile: ./../client-service/client-service.dockerfile
    restart: always
    ports:
      - "4000:4000"
    deploy:
      mode: replicated
      replicas: 1
    environment:
      DSN: "host=postgres port=5432 user=postgres password=postgres dbname=ai_agent sslmode=disable timezone=UTC connect_timeout=5"
    depends_on:
      - embedding-service

  postgres:
    image: ramsrib/pgvector:14
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: ai_agent
    logging:
      options:
        max-size: 10m
        max-file: "3"
    ports:
      - '5432:5432'
    volumes:
      - ./db-data/postgres/:/var/lib/postgresql/data/
      - ./db-init:/docker-entrypoint-initdb.d/
 
  embedding-service:
    build:
      context: ./../embedding-service
      dockerfile: ./../embedding-service/embedding-service.dockerfile
    restart: always
    deploy:
      mode: replicated
      replicas: 1
    ports:
      - "50001:50001"
    environment:
      MODEL_NAME: "all-MiniLM-L6-v2"
    depends_on:
      - postgres
    volumes:
      - "../embedding-service:/app"